// @import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");
// global variables
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
  // font-family: poppins;
}

body {
  //   max-width: 1700px;
  //   max-height: 1500px;
  background-color: rgb(9, 14, 21);
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1px;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(65, 105, 225, 0);
}

// GLOBAL STYLES
$shadow: 4px 4px 10px rgba(65, 105, 225, 0.089);
$border: 2px solid rgb(214, 214, 214);
$bg: rgba(13, 21, 34, 0.694);
$Sides: rgba(18, 29, 47, 0.694);
$hover-Text-Color: #444444;
$text-Color: rgb(68, 68, 68);
$special-text-Color: royalblue;
$special-Color: #4c5eff;

@mixin flexDisplay($justifyProp, $alignProp, $flexDirection) {
  display: flex;
  justify-content: $justifyProp;
  align-items: $alignProp;
  flex-direction: $flexDirection;
}

@mixin responsive($breakpoint) {
  @if $breakpoint==smallPhone {
    @media only screen and (max-width: 300px) {
      @content;
    }
  }

  @if $breakpoint==tablet {
    @media only screen and (min-width: 850px) {
      @content;
    }
  }

  @if $breakpoint==bigphone {
    @media only screen and (min-width: 750px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: 1280px) {
      @content;
    }
  }
}

// main container
.General {
  @include flexDisplay(space-between, center, row);
  // border: 1px solid blue;
  width: 100%;
  max-width: 2000px;
  max-height: 1500px;
  height: 100%;
  margin: 0 auto;
  position: relative;

  //   RIGHT SIDE OF THE SCREEN ON LARGE SCREEN AND SIDE SLIDE ON SMALL SCREEN
  .RightSide {
    // position: absolute;
    // width: 100%;
    // top: 5px;
    border-radius: 5px;
    background-color: black;
    box-shadow: 4px 4px 10px rgba(65, 105, 225, 0.089);
    border: 1px solid rgba(65, 105, 225, 0.255);
    // height: 98%;
    overflow-y: scroll;

    // border: 1px solid blue;
    // display: none;

    @include responsive(bigphone) {
      position: relative;
      width: 30%;
      max-width: 300px;
      min-width: 200px;
      height: 97vh;
      margin: 10px;
      background-color: ($Sides);
      display: block;
    }

    // right component
    .right-side-container {
      // border: 2px solid red;
      width: 100%;
      height: 100%;
      padding: 10px;
      @include responsive(bigphone) {
        // border: 2px solid red;
      }

      //   top section
      .top-details {
        @include flexDisplay(center, center, column);
        width: 100%;
        margin: 0 auto;
        padding: 10px 0;
        border-radius: 5px;
        background-color: rgba(13, 21, 34, 0.694);
        box-shadow: 4px 4px 10px rgba(65, 105, 225, 0.089);
        border: 1px solid rgba(65, 105, 225, 0.255);

        @include responsive(bigphone) {
        }

        // profileImg container
        .profileImg-container {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0.772);
          border: 2px solid rgb(238, 123, 7);

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
            @include responsive(bigphone) {
            }
          }
        }

        // my name container
        .my-name {
          color: rgba(255, 255, 255, 0.772);
          margin: 10px;
          font-size: 20px;
          @include responsive(bigphone) {
            font-size: 13px;
          }
        }
        .software {
          color: rgb(238, 123, 7);
          margin-top: -5px;
          font-size: 15px;
          font-weight: 100;
          padding: 2px 6px;
          border-radius: 5px;
          @include responsive(bigphone) {
            font-size: 10px;
          }
        }
        .lets-connect {
          margin: 20px;
          font-size: 15px;
          color: rgb(150, 171, 217);
          padding: 1px 10px;
          border-radius: 5px;
          background-color: rgba(29, 49, 80, 0.694);
          border: 1px solid rgba(65, 105, 225, 0.255);
          @include responsive(bigphone) {
            font-size: 13px;
          }
        }
        .social-media-icons {
          margin-top: -10px;
          @include flexDisplay(center, center, row);
          span {
            a {
              margin: 12px;
              font-size: 20px;
              color: rgb(150, 171, 217);
              @include responsive(bigphone) {
                margin: 9px;
                font-size: 15px;
              }
            }
          }
        }
      }

      // nationality
      .languages-container {
        padding: 10px 5px 10px 5px;
        box-shadow: 4px 4px 10px rgba(65, 105, 225, 0.089);
        border-bottom: 1px solid rgba(65, 105, 225, 0.255);

        div {
          @include flexDisplay(space-between, center, row);
          margin: 5px;
          p {
            color: rgb(150, 171, 217);
            font-size: 12px;
            font-weight: 100;
          }
        }
      }

      // skill set range
      .skill-set {
        color: rgb(150, 171, 217);
        font-size: 12px;
        margin-top: 50px;
      }
      .skill {
        @include flexDisplay(space-between, center, row);
        flex-wrap: wrap;
        h4 {
          font-size: 17px;
        }
        p {
          font-size: 7px;
          margin-top: -8px;
        }
      }
      // stack set
      .stack-set {
        @include flexDisplay(space-between, center, row);
        margin-top: 10px;
        padding-bottom: 10px;
        color: rgb(150, 171, 217);
        box-shadow: 4px 4px 10px rgba(65, 105, 225, 0.089);
        border-bottom: 1px solid rgba(65, 105, 225, 0.255);
      }
      .punt {
        color: rgb(150, 171, 217);
        font-size: 12px;
        font-weight: 100;
        padding-top: 5px;
      }

      .cv-btn {
        width: 100%;
        margin-top: 70px;
        padding-bottom: 50px;
        a {
          .button-29 {
            width: 100%;
            height: 50px;
            border-radius: 5px;
            color: rgba(150, 171, 217, 0.673);
            background-color: rgba(238, 122, 7, 0);
            box-shadow: 4px 4px 10px rgba(65, 105, 225, 0.089);
            border: 2px solid rgba(65, 105, 225, 0.255);

            &:hover {
              background-color: rgba(150, 171, 217, 0.673);
              color: black;
            }
          }
        }
      }
    }
  }

  //   MIDDLE SIDE OF THE SCREEN ON LARGE SCREEN AND SIDE SLIDE ON SMALL SCREEN
  .LeftSide {
    // border: 1px solid red;
    width: 100%;
    height: 97vh;
    background-color: ($Sides);
    overflow-y: scroll;
    @include responsive(bigphone) {
      width: 100%;
      height: 97vh;
      background-color: ($Sides);
      overflow-y: scroll;
    }
    .left-side-container {
      // border: 2px solid red;
      // height: 300px;

      .banner {
        background: url("https://res.cloudinary.com/isreal/image/upload/v1662332718/My%20portfolio%20Project/AJIS_BOARD_hntwt3.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        border-radius: 10px;
        @include flexDisplay(space-between, center, row);
        box-shadow: 4px 4px 10px rgba(65, 105, 225, 0.089);
        border: 2px solid rgba(65, 105, 225, 0.255);
        height: 110px;
        @include responsive(bigphone) {
          height: 60px;
        }
        @include responsive(desktop) {
          height: 110px;
        }
        img {
          width: 30%;
          margin: 0 auto;
        }
      }
      // slider container
      .slide-container {
        width: 100%;
        background-color: black;
        margin-top: 5px;

        .slider-banner-container {
          width: 100%;
          height: 100%;
          max-height: 700px;
          background-color: black;
          position: relative;
          @include responsive(bigphone) {
            // height: 50vh;
          }
          @include responsive(desktop) {
            height: 65vh;
          }

          .slider-banner-img {
            // border: 2px solid white;
            width: 100%;
            height: 100%;
            opacity: 0.7;
            width: 100%;
            height: 100%;
            // display: none;
            // for big tablets and above
            @include responsive(tablet) {
              width: 100%;
            }
            &:hover {
              opacity: 1;
            }
          }
        }
      }

      // about me
      .about-me {
        // border: 2px solid red;
        width: 100%;
        @include flexDisplay(space-between, center, column);
        // background-color: rgba(13, 21, 34, 0.696);
        box-shadow: 5px 5px 15px rgba(65, 105, 225, 0.089);
        border: 1px solid rgba(65, 105, 225, 0.255);
        margin-top: 10px;
        position: relative;
        // display: flex;

        .about-me-name {
          // margin-top: 5px;
          width: 98%;
          padding: 10px;

          @include flexDisplay(space-between, center, column);
          color: rgba(238, 122, 7, 0.878);
        }

        .about-me-pitch {
          margin: 0 auto;
          // margin-top: 10px;
          border-radius: 5px;
          height: 150px;
          overflow-y: scroll;

          @include flexDisplay(space-between, center, row);

          p {
            font-size: 15px;
            color: rgba(150, 171, 217, 0.673);
            // margin-top: 20px;
            word-break: keep-all;
            text-align: center;
            padding: 20px;
          }
        }
      }
      //  ServicesGrid
      .services-container {
        width: 100%;
        @include flexDisplay(space-between, center, column);
        // background-color: rgba(13, 21, 34, 0.696);
        // box-shadow: 5px 5px 15px rgba(65, 105, 225, 0.089);
        border: 1px solid rgba(65, 105, 225, 0.255);
        margin-top: 10px;
        padding: 10px;
        position: relative;
        // border: 1px solid red;

        h2 {
          // margin-top: 5px;
          width: 98%;
          padding: 10px;

          @include flexDisplay(space-between, center, column);
          color: rgba(238, 122, 7, 0.878);
        }

        .services-inside-container {
          // border: 1px solid red;
          margin-top: 10px;

          @include flexDisplay(space-between, center, column);
          .services-dynamic-btn {
            @include flexDisplay(space-between, center, row);
            // border: 1px solid red;
            width: 80%;
            max-width: 900px;

            button {
              width: 100%;
              padding: 10px;
              font-size: larger;
              text-transform: uppercase;
              background-color: rgba(30, 4, 4, 0);
              color: rgba(150, 171, 217, 0.673);
              border: none;
              transition: 0.3s linear;

              &:hover {
                border-bottom: 2px solid rgba(150, 171, 217, 0.673);
              }
            }
          }
          .services-grid-con {
            // border: 1px solid red;
            margin-top: 50px;
            width: 85%;
            // max-width: 900px;
            @include flexDisplay(space-around, center, row);
            display: flex;
            flex-wrap: wrap;

            .services-grid {
              // width: 49%;
              width: 32%;
              min-width: 250px;
              // background-color: rgba(150, 171, 217, 0.673);
              color: rgba(150, 171, 217, 0.673);
              // border: 2px solid rgba(150, 171, 217, 0.673);
              // box-shadow: 5px 5px 15px rgba(65, 105, 225, 0.089);
              height: 200px;
              overflow-y: scroll;
              margin: 1px;
              padding: 25px 10px;
              border-radius: 5px;
              background-color: rgba(13, 21, 34, 0.694);
              box-shadow: 4px 4px 10px rgba(65, 105, 225, 0.089);
              border: 2px solid rgba(65, 105, 225, 0.255);

              p {
                font-size: 13px;
                margin-top: 15px;
                line-height: 15px;
              }
            }
          }
        }
      }
    }
  }

  //    SIDEMENU OF THE SCREEN ON LARGE SCREEN AND BOTTOM MENU ON SMALL SCREEN
  .SideMenu {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    max-height: 60px;
    box-shadow: 4px 4px 10px rgba(65, 105, 225, 0.089);
    border: 1px solid rgba(65, 105, 225, 0.255);

    // border: 2px solid red;
    position: relative;
    width: 10%;
    max-width: 60px;
    height: 97vh;
    max-height: 97vh;
    margin: 5px;
    border-radius: 10px;
    background-color: ($Sides);
    @include responsive(bigphone) {
      position: relative;
      width: 10%;
      max-width: 60px;
      height: 97vh;
      max-height: 97vh;
      margin: 5px;
      border-radius: 10px;
      background-color: ($Sides);
    }

    .side-menu {
      margin-top: 30px;
      font-size: 30px;
      height: 300px;
      //  margin-top: 20px;
      font-size: 30px;
      // height: 400px;
      color: rgba(150, 171, 217, 0.673);
      @include flexDisplay(space-between, center, row);
      @include responsive(bigphone) {
        @include flexDisplay(space-between, center, column);
        margin-top: 30px;
        font-size: 30px;
        height: 300px;
      }
    }
  }
}
